.container {
    width: 450px;
    height: 485px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2a2c2c85;
  }
  
  .tags {
    display: flex;
    justify-content: space-between;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
