.container {
  width: 450px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #46464a;
}

.tags {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logout {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 0.4rem;
}