.container {
  width: 450px;
  height: 485px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #2a2c2c85
}

.tags {
  display: flex;
  justify-content: space-between;
}

.cardContainer:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
